.DeckBuilder {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Deck{
  width: 550px;
  display:flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 50px;
  background-image:url(https://i.imgur.com/ddfCRBF.jpg);
  background-position: center;
  height: 700px;
}