.navLink {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sideLink {
    display: block;
    padding: 10px;
    text-align: center;
    color: black;
    cursor: pointer;
}

#bars{
    display: none;
    color: white;
}

@media (max-width: 1024px){
    .navLink {
        display: none;
    }
    #bars{
        display: inline;
        margin: 0 3% 0 3%;
        padding: 0;
    }
}