.ShoppingCart{
    display: flex;

}

/*元素的70% 20%是根據整個瀏覽器頁面而非一個區塊*/
.W-70{
    width: 70%;
}

/*結帳清單*/
.CartList{
    /*將元素定住在瀏覽器的右邊1%寬度位置*/
    position: fixed;
    right:1%;

    /*設定div的寬度與高度，注意高度不能以百分比表示！*/
    width: 22%;
    margin: 50px 2.5%;
    border-radius: 10px;
    padding: 10px 0px;
    
    
    /*字型與背景色*/
    background-color: #ffffff;
    color: rgb(40,103,178);
    font-weight: bold;
}

.ListItem{
    display: flex;
    align-items: center;
    font-size: 8px;
    padding-left: 10px;
}

.ListItem > p{
    padding: 2px;
}


@media (max-width:500px){
    .W-70{
        width: 50%;
    }
    .CartList{
        right:1%;
        width: 49%;
        margin: 15px;
    }
    .ListItem{
        font-size: 1px
    }
}
