.card{
    width: 100px;
    padding:5px;
    cursor: pointer;
}

.loader{
    background: transparent url('https://i.imgur.com/nVYdovc.gif') no-repeat;
    background-position: center; 
    height: 155px;
    display: flex;
    justify-content: center;
}

.hasLoad {
    height: 155px;
    display: flex;
    justify-content: center;
}

@media(max-width:500px){
    .loader{
        height: 100px;
    }
    .hasLoad {
        height: 100px;
    }
    .card{
        width: 60px;
    }
}