.CardProduct
{
    display: flex;
    padding: 10px 5px;
    width:280px;
}

.CardInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    width: 63%;
}

.name{
    height: 50px;
    margin: 10px 0 0 0;
    padding: 0px 2px;
}

.price{
    height: 30px;
}

.BasicInfo > p{
    font-size: 14px;
    color: rgb(40,103,178);
}


.CardInfo > button {
    width: 60%;
    text-align: center;
    color: black;
    border: 0px;
    border-radius: 4px;
    background-color: #f5f5f5;
    cursor: pointer;

    /*讓button內的文字與圖片可並排顯示*/
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; /*母元素 relative + 子元素 absolute 可達到固定相對位置的效果（且會使子元素不受某元素display flex影響）*/
    /* bottom: 30px; */ 
}

.CardInfo > button:hover{
    background-color: rgb(162, 184, 240);
}

.cartIcon{
    width: 14px;
}

@media (max-width:700px){
    .CardProduct{
        display: block;
        width:120px;
    }
    .CardInfo{
        width:100%;
    }
    .CardInfo > button{
        width: 90%;
    }
    .BasicInfo > .name{
        height: 20px;
        margin: 0;
    }
    .BasicInfo > .price{
        margin: 15px 0 10px 0;
        height: 10px;
    }
    .BasicInfo > p{
        font-size: 10px;
    }
}

