.CardGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    background-color: white;
}

@media (max-width:700px){
    .CardGallery{
        margin: 16px 0px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}