.Wrapper {
    width: 570px;
    margin: 0 1%;
}

.Deck {
    width: 100%;
    display:flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0;
    background-image:url(https://i.imgur.com/ddfCRBF.jpg);
    background-position: center;
    height: 700px;
}


@media (max-width:700px) {
    .Wrapper {
        width: 360px;
    }
}