.footer{

    background-color: black;
    color:white;
    height:200px;
    margin-top:200px;

    /* 讓Footer中的文字置中 start */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 讓Footer中的文字置中 end */
}

@media (max-width:500px){
    .footer{
        margin-top: 100px;
        height: 100px;
        font-size: 12px;
      }
}